{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.header.alt %}
  {% capture alt %}{{ post.header.alt }}{% endcapture %}
{% endif %}

<div class="list__item">
    <div class="feature__wrapper">
        <div class="feature__item--center">
            <div class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>                
                <div class="archive__item-teaser">
                    <img src="{{ teaser | relative_url }}" alt="{% if alt %}{{ alt }}{% endif %}">
                </div>

                {% include page__meta.html %}
        
                {% if post.excerpt %}
                    <div class="archive__item-excerpt" itemprop="description">
                        {{ post.excerpt | markdownify | truncate: 40 }}
                    </div>
                {% endif %}
    
                {% if post.more %}
                    <p><a href="{{ post.url | relative_url }}" class="btn btn--info">{{ post.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
